.isotope-pop-click {
  border: 1px solid grey;
  font-size: 13px;
}

.isotope-pop-click h3 {
  margin: 0;
  font-size: 13px;
}

.isotope-pop-click.is-expanded {
  width: 443px;
}

.isotope-pop-click.is-expanded .frontFace {
  display: none;
}
.isotope-pop-click.is-expanded .backFace {
  display: block;
}

.isotope-pop-click.is-collapsed {
  width: 140px;
}

.isotope-pop-click.is-collapsed .frontFace {
  display: block;
}

.isotope-pop-click.is-collapsed .backFace {
  display: none;
}

.frontFace {
  text-align: center;
}

.frontFace .image-wrapper {
  background: grey;
  height: 140px;
  width: 140px;
  overflow: hidden;
}

.frontFace .image-wrapper .image-item {
  height: 140px;
}

.backFace {
  text-align: left;
}

.backFace .image-wrapper {
  background: grey;
  height: 170px;
  width: 170px;
  overflow: hidden;
}

.backFace .image-wrapper .image-item {
  height: 170px;
}
