@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
    font-family: 'Poppins', sans-serif;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2);
  }
  body::-webkit-scrollbar,
  .changeScrollbar::-webkit-scrollbar {
    @apply w-2 cursor-pointer;
    width: 0.5rem;
  }
  body::-webkit-scrollbar-thumb,
  .changeScrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md cursor-pointer bg-peach;
  }
  html,
  body {
    @apply w-screen min-h-screen overflow-x-hidden;

    margin: 0;
    padding: 0;
    left: -10%;
  }

  ::selection {
    @apply text-white bg-peach bg-opacity-90;
  }
  ::-moz-selection {
    @apply text-white bg-peach bg-opacity-90;
  }
  html {
    @apply font-poppins;
  }
  p,
  ul,
  ol,
  blockquote {
    @apply my-6;
    max-width: 40rem;
    padding-bottom: 0.75rem;
  }
  blockquote {
    @apply px-8 py-3 my-6 italic border border-l-8 border-wine-100 lg:px-16;
  }
  p {
    @apply max-w-lg pb-3 my-4 text-lg text-wine;
  }

  p a {
    @apply underline duration-200 text-peach underline-offset-4 hover:opacity-75;

    text-decoration: underline;
    color: #fdbccf;
    text-underline-offset: 0.25rem;
    opacity: 1;
  }

  p a:hover {
    opacity: 0.75;
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
  h1 {
    @apply font-geologica text-8xl;
  }
  h2 {
    @apply my-8 text-6xl font-extrabold font-dempsey text-peach;
  }
  h3 {
    @apply font-geologica;
  }
  p.lead {
    @apply pb-6 mt-2 text-2xl leading-relaxed;
  }

  sub {
    @apply py-0 my-0 leading-none text-wine;
    color: #6b4d90;
  }

  label {
    @apply block mt-4 mb-2 text-lg font-bold text-wine;
  }
  label.required::after {
    content: ' *';
    @apply inline text-sm align-top text-peach;
  }

  label.form-label {
    @apply pt-0 pb-0 mt-0;
  }

  label.radio-button {
    @apply w-20 py-2 mt-2 text-lg font-semibold text-center duration-300 bg-transparent border-2 cursor-pointer border-blue rounded-xl text-wine-500 focus:ring-1 focus:border-blue-dark focus:ring-blue-dark peer-checked:bg-blue peer-checked:text-cream hover:scale-98;
  }
  input.form-input,
  .form-input,
  textarea.form-input {
    @apply w-full px-8 py-4 font-semibold bg-transparent border-2 border-blue rounded-xl md:text-lg text-wine cursor-text focus:ring-1 focus:border-blue-dark focus:ring-blue-dark;
  }
  input.form-input.error,
  .form-input.error,
  textarea.form-input.error {
    @apply border-error focus:border-error focus:ring-error;
  }
  input.form-submit {
    @apply px-8 py-3 text-lg font-bold duration-300 rounded-md cursor-pointer bg-blue text-cream hover:scale-98 disabled:hover:scale-100 disabled:bg-opacity-30;
  }

  input.form-border-b,
  textarea.form-border-b,
  select.form-border-b,
  .form-border-b input,
  .form-border-b select {
    @apply py-4 my-1 bg-transparent rounded-md border-blue text-wine text-opacity-70;
  }
}
@layer components {
  .skills__control {
    @apply cursor-pointer bg-transparent border-2 border-blue rounded-xl pl-8 py-2 focus:ring-1 focus:border-blue-dark  focus:ring-blue-dark !important;
  }
  .skills__menu,
  .skills__menuPortal,
  .skills__menuList {
    @apply cursor-pointer overflow-y-scroll !important;
  }
  .skills__menu::-webkit-scrollbar-thumb,
  .skills__menuList::-webkit-scrollbar-thumb,
  .skills__menuPortal::-webkit-scrollbar-thumb {
    @apply bg-peach rounded-md cursor-pointer !important;
  }
  .skills__control--is-focused {
    @apply ring-1 border-blue-dark ring-blue-dark !important;
  }
  .skills__multi-value__remove {
    @apply hover:bg-wine-100 hover:border-cream hover:text-wine-400 !important;
  }
  .config-select .switch {
    @apply left-0 w-full;
  }
  .config-select input[type='radio']:checked + label {
    @apply duration-300 ease-in-out delay-300 text-cream;
  }
  .config-select input[type='radio']:nth-of-type(1):checked + label ~ .switch,
  .config-select input[type='radio']:nth-of-type(1):checked + label:nth-of-type(1) ~ .switch {
    @apply transform  duration-300 ease-in-out -translate-y-[4.5rem] md:translate-y-0 md:w-[11.25rem] md:translate-x-7;
  }
  .config-select input[type='radio']:nth-of-type(2):checked + label ~ .switch,
  .config-select input[type='radio']:nth-of-type(2):checked + label:nth-of-type(2) ~ .switch {
    @apply transition  duration-300 ease-in-out transform  -translate-y-[1.33rem] translate-x-0 md:translate-y-0  md:w-[9.5rem] md:translate-x-[11.5rem];
  }
  .config-select input[type='radio']:nth-of-type(3):checked + label ~ .switch,
  .config-select input[type='radio']:nth-of-type(3):checked + label:nth-of-type(3) ~ .switch {
    @apply transition duration-300 ease-in-out transform  translate-y-[1.75rem] translate-x-0 md:translate-y-0 md:w-[9.1rem] md:translate-x-[20rem];
  }
  .config-select input[type='radio']:nth-of-type(4):checked + label ~ .switch,
  .config-select input[type='radio']:nth-of-type(4):checked + label:nth-of-type(4) ~ .switch {
    @apply transition duration-300 ease-in-out transform translate-y-[5rem] translate-x-0 md:translate-y-0 md:w-[10.95rem] md:translate-x-[28.25rem];
  }
  .checkoutButton {
    @apply block w-full max-w-lg py-4 mt-8 mb-2 text-xl font-bold lowercase scale-100 rounded-lg;
  }
  .checkoutButton.checkoutButton-disabled-false {
    @apply transition-all duration-500 ease-in-out transform opacity-100 cursor-pointer bg-blue text-cream hover:opacity-90 hover:scale-97 active:scale-90 active:bg-peach;
  }
  .checkoutButton.checkoutButton-disabled-true {
    @apply max-w-lg cursor-not-allowed bg-wine-100 text-wine-200 opacity-60;
  }
  .slider {
    @apply w-1/2 h-1 bg-blue opacity-70;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    outline: none;
    transition: opacity 0.2s;
  }
  .slider::-webkit-slider-thumb {
    @apply w-4 h-8 rounded-lg appearance-none cursor-pointer bg-blue;
    -webkit-appearance: none;
  }

  .slider::-moz-range-thumb {
    @apply w-4 h-4;

    background: #04aa6d;
    background-color: #fdbccf;
    border-radius: 0.375rem;
    cursor: pointer;
  }

  .slider:hover {
    opacity: 1;
  }

  .expectations-number-wrapper span:nth-child(2) {
    top: -3%;
    left: -6%;
  }
  .pb-pattern {
    @apply bg-blue;
    background-image: url('/img/pixelbakery_pattern_blue.svg');
    left: -8%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home-portfolio.block-right:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    right: -12%;
    bottom: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -12%;
    bottom: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left-2:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -16%;
    bottom: -4%;
    border-radius: 3px;
  }
  .home-portfolio.block-right-up:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    right: -12%;
    top: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left-up:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -12%;
    top: -6%;
    border-radius: 3px;
  }
  @media (min-width: 786px) {
    .lander-responsive {
      height: calc(100vh - 2rem) !important;
    }
  }
  @media (min-width: 1024px) {
    .lander-education,
    .lander-responsive {
      height: calc(100vh - 2rem) !important;
    }
  }
  .lander {
    height: calc(100vh - 2rem);
  }

  .lander-variableHeight {
    min-height: 66vh;
    max-height: calc(100vh - 2rem) !important;
  }
  @media (min-width: 1280px) {
    .lander-services {
      min-height: 66vh;
      max-height: calc(100vh - 2rem) !important;
    }
  }
  .clients {
    height: 80vh;
    max-height: 900px;
    min-height: 400px;
  }
  .wrapper-clients {
    height: 100%;
    max-height: 800px;
    min-height: 141px;
    width: 100%;
  }
  .wrapper-clients::after {
    height: 98%;
    max-height: 468px;
    min-height: 280px;
    content: '';
    position: absolute;
    z-index: 100;
  }
  .boxes {
    top: -50px;
    position: relative;
    z-index: 80;
  }
  .box {
    width: 100%;
    font-size: 25px;
    line-height: 94px;
    text-align: center;
    z-index: 60;
    cursor: pointer;
    will-change: transform;
  }
  .scrim {
    pointer-events: none;
    background: linear-gradient(
      0deg,
      rgba(239, 232, 242, 1) 0%,
      rgba(239, 232, 242, 0) 10%,
      rgba(239, 232, 242, 0) 90%,
      rgba(239, 232, 242, 1) 100%
    );
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 120;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
  iframe .form-wrapper-component {
    @apply h-min bg-transparent !important;
  }

  .closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }
  .closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }

  .opened {
    opacity: 1;
  }
  .circle-plus .circle .vertical {
    width: 4px;
    height: 20px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -10px;
  }
  .answer {
    display: none;
    overflow: hidden;
    transition: all 1s ease-in-out;
    opacity: 0;
  }

  .slider {
    @apply fill-peach stroke-peach;
  }
  .slider:hover {
    @apply fill-pink-light stroke-pink-light;
  }
  .slider::-webkit-slider-thumb {
    @apply fill-pink stroke-pink;
  }

  .slider::-moz-range-thumb {
    @apply fill-wine stroke-wine;
  }
  .expectations-number-wrapper span:nth-child(2) {
    @apply fill-pink-lighter stroke-pink-lighter;
  }
  .expectations-number-wrapper span:nth-child(3) {
    transition: duration-300 ease-in-out;
  }
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
  }
  .card {
    @apply flex flex-row w-full overflow-hidden rounded-xl sm:aspect-16/9 md:aspect-4/3 lg:aspect-1 xl:aspect-3/4 3xl:aspect-4/3;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 3px 3px 6px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .hover-98 {
    @apply relative duration-300 ease-out shadow-md cursor-pointer hover:opacity-90 hover:scale-98 hover:shadow-sm;
  }
  .hover-99 {
    @apply relative duration-300 ease-out shadow-md cursor-pointer hover:opacity-90 hover:scale-99 hover:shadow-sm;
  }
  .hover-shadow-none {
    @apply shadow-none hover:shadow-none !important;
  }

  .animate__fadeIn {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .shimmer {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (max-width: 500px) {
    .shimmer:hover .arm {
      animation: none;
    }

    .shimmer:hover .arm {
      animation: wave 560ms ease-in-out;
    }
  }
}

.lottie-blue svg path,
.lottie-blue * {
  @apply fill-blue stroke-blue !important;
}

.lottie-cream svg path,
.lottie-cream * {
  @apply fill-cream stroke-cream !important;
  /* fill: !important;
  stroke: #04aa6d !important; */
}
.lottie-blue-dark svg path,
.lottie-blue-dar svg {
  @apply fill-blue-dark stroke-blue-dark !important;
}
.lottie-egg svg path,
.lottie-egg svg {
  @apply fill-egg stroke-egg !important;
}
.lottie-peach svg path,
.lottie-peach svg {
  @apply fill-peach stroke-peach !important;
}
.lottie-pink-light svg path,
.lottie-pink-ligh svg {
  @apply fill-pink-light stroke-pink-light !important;
}
.lottie-pink svg path,
.lottie-pink svg {
  @apply fill-pink stroke-pink !important;
}
.lottie-wine svg path,
.lottie-wine svg {
  @apply fill-wine stroke-wine !important;
}
.lottie-pink-lighter svg path,
.lottie-pink-lighte svg {
  @apply fill-pink-lighter stroke-pink-lighter !important;
}
