@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
  body::-webkit-scrollbar,
  .changeScrollbar::-webkit-scrollbar {
    @apply w-2 cursor-pointer;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.2);
  }

  body::-webkit-scrollbar-thumb,
  .changeScrollbar::-webkit-scrollbar-thumb {
    @apply bg-peach rounded-md cursor-pointer;
  }

  .pb-pattern {
    @apply bg-blue;
    background-image: url('/img/pixelbakery_pattern_blue.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  ::selection {
    @apply bg-peach bg-opacity-90 text-white;
  }
  ::-moz-selection {
    @apply bg-peach bg-opacity-90 text-white;
  }

  input.form-border-b,
  textarea.form-border-b,
  select.form-border-b,
  .form-border-b input,
  .form-border-b select {
    @apply rounded-md  border-blue bg-transparent my-1 py-4  text-wine text-opacity-70;
  }

  .checkoutButton.checkoutButton-disabled-false {
    @apply rounded-lg text-xl font-bold mt-8 mb-2 py-4 block w-full lowercase scale-100 opacity-100 transform transition-all duration-500 ease-in-out bg-blue  text-cream cursor-pointer hover:opacity-90 hover:scale-97 active:scale-90 active:bg-peach;
  }
  .checkoutButton.checkoutButton-disabled-true {
    @apply rounded-lg text-xl font-bold mt-8 mb-2 py-4 block w-full lowercase scale-100 bg-wine-100 text-wine-200 cursor-not-allowed opacity-60;
  }

  .slider {
    @apply bg-blue w-1/2 h-1 opacity-70;

    -webkit-appearance: none;
    height: 5px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    @apply bg-blue cursor-pointer h-8 w-4 appearance-none rounded-lg;
    -webkit-appearance: none;
  }

  .slider::-moz-range-thumb {
    @apply w-4 h-4;

    background: #04aa6d;
    cursor: pointer;
  }

  .expectations-number-wrapper span:nth-child(2) {
    top: -3%;
    left: -6%;
  }
  .expectations-number-wrapper span:nth-child(3) {
    top: -5%;
    left: -8%;
  }
  .expectations-number-wrapper span:nth-child(4) {
    top: -7%;
    left: -10%;
  }
  .expectations-number-wrapper span:nth-child(4) {
    top: -9%;
    left: -12%;
  }
  .expectations-number-wrapper span:nth-child(5) {
    top: -11%;
    left: -14%;
  }

  #home-mixer {
    top: 8%;
    right: 2.5%;
  }
  #home-sifter img {
  }
  video::-webkit-media-controls {
    display: none;
  }
  .home-portfolio.block-right:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    right: -12%;
    bottom: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -12%;
    bottom: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left-2:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -16%;
    bottom: -4%;
    border-radius: 3px;
  }
  .home-portfolio.block-right-up:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    right: -12%;
    top: -6%;
    border-radius: 3px;
  }
  .home-portfolio.block-left-up:before {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -12%;
    top: -6%;
    border-radius: 3px;
  }
  iframe .form-wrapper-component {
    @apply h-min bg-transparent !important;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 3px 3px 6px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px rgba(0, 81, 116, 0.5);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
.lander {
  height: calc(100vh - 2rem);
}

@media (min-width: 1024px) {
  .lander-education {
    height: calc(100vh - 2rem) !important;
  }
}

.lander-variableHeight {
  min-height: 66vh;
  max-height: calc(100vh - 2rem) !important;
}

.clients {
  height: 80vh;
  max-height: 900px;
  min-height: 400px;
}
.wrapper-clients {
  height: 100%;
  max-height: 800px;
  min-height: 141px;
  width: 100%;
}
.wrapper-clients::after {
  height: 98%;
  max-height: 468px;
  min-height: 280px;
  content: '';
  position: absolute;
  z-index: 100;
}
.boxes {
  top: -50px;
  position: relative;
  z-index: 80;
}
.box {
  width: 100%;
  font-size: 25px;
  line-height: 94px;
  text-align: center;
  z-index: 60;
  cursor: pointer;
  will-change: transform;
}
.scrim {
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(239, 232, 242, 1) 0%,
    rgba(239, 232, 242, 0) 10%,
    rgba(239, 232, 242, 0) 90%,
    rgba(239, 232, 242, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 120;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

#twitch-title {
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-plus .circle {
  position: relative;
  width: 2.55em;
  height: 2.5em;
}
.circle-plus .circle .horizontal {
  width: 20px;
  height: 4px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -2.5px;
}
.circle-plus .circle .vertical {
  width: 4px;
  height: 20px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -10px;
}
.answer {
  display: none;
  overflow: hidden;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.answer.opened {
  display: block;
  opacity: 1;
}

.shimmer {
  position: absolute;
  top: 0;
  right: 0;
}
.arm {
  transform-origin: 130px 106px;
}

.shimmer:hover .arm {
  animation: wave 560ms ease-in-out;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .shimmer:hover .arm {
    animation: none;
  }

  .shimmer:hover .arm {
    animation: wave 560ms ease-in-out;
  }
}

.config-select label {
}
.config-select .switch {
  @apply left-0 w-full;
}
.config-select input[type='radio']:checked + label {
  @apply text-cream delay-300 ease-in-out duration-300;
}
.config-select input[type='radio']:nth-of-type(1):checked + label ~ .switch,
.config-select input[type='radio']:nth-of-type(1):checked + label:nth-of-type(1) ~ .switch {
  @apply transform  duration-300 ease-in-out -translate-y-[4.5rem] md:translate-y-0 md:w-[11.25rem] md:translate-x-7;
}
.config-select input[type='radio']:nth-of-type(2):checked + label ~ .switch,
.config-select input[type='radio']:nth-of-type(2):checked + label:nth-of-type(2) ~ .switch {
  @apply transition  duration-300 ease-in-out transform  -translate-y-[1.33rem] translate-x-0 md:translate-y-0  md:w-[9.5rem] md:translate-x-[11.5rem];
}
.config-select input[type='radio']:nth-of-type(3):checked + label ~ .switch,
.config-select input[type='radio']:nth-of-type(3):checked + label:nth-of-type(3) ~ .switch {
  @apply transition duration-300 ease-in-out transform  translate-y-[1.75rem] translate-x-0 md:translate-y-0 md:w-[9.1rem] md:translate-x-[20rem];
}
.config-select input[type='radio']:nth-of-type(4):checked + label ~ .switch,
.config-select input[type='radio']:nth-of-type(4):checked + label:nth-of-type(4) ~ .switch {
  @apply transition duration-300 ease-in-out transform translate-y-[5rem] translate-x-0 md:translate-y-0 md:w-[10.95rem] md:translate-x-[28.25rem];
}

.mainBody {
  background: transparent !important;
}

.animate__fadeIn {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-egg {
  color: rgb(243, 244, 246) !important;
}
